*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
}
.box{
    width: 298px;
    height: 415px;
    background-color: #FFF;
    margin: 100px auto;
}
.box img{
    width: 100%;
}
.box .rewiew{
    margin-top: 40px;
    padding: 0 28px;
    font-size: 14px;
}
.pj{
    font-size: 10px;
    color: #b0b0b0;
    padding: 0 28px;
    margin-top: 20px;
}
.lj{
    font-weight: 400;
    padding: 0 28px;
    margin-top: 15px; 
}
.lj em{
    font-style: normal;
    color: #b0b0b0;
    margin: 0 6px 0 5px;
}
a{
    text-decoration: none;
    color: #333;
}
.lj h4{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}
.lj span{
    color: orange;
}